.container {
    height: 100vh;
    background-color: bisque;
    position: relative;
}

.main,
.mask {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    color: rgb(69, 38, 0);
    padding: 0 200px;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url("/mask.svg");
    mask-repeat: no-repeat;
    background: rgb(225, 0, 0);
    mask-size: 50px;
    color: rgb(226, 226, 226);
}

.emphasis {
    color: rgb(225, 0, 0);
}
